/* h1,
p {
  font-family: Lato;
} */

/* .global { */
  /* background-image: url("https://i.pinimg.com/originals/f9/a9/ce/f9a9ced6d988b9e55af1ae9c23a6fdbf.jpg");
  height: 100vh; */
  /* position: absolute; */
/* } */

/* @media (min-width: 768px) {
  button {
    margin-left: 15px;
  }
} */

/* @media (min-width: 768px) {
  .main {
    align-items: center;
    justify-content: space-between;
  }
} */
